server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/soutenances_db
    username: doctorat       # OU postgres, selon ce que tu utilises
    password: doctorat       # idem
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
# Eureka Client Configuration
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10

# Application Info
info:
  app:
    name: Soutenance Service
    description: Microservice for soutenance management
    version: 1.0.0

# Management Endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true

# Logging
logging:
  level:
    root: INFO
    org.springframework.cloud.netflix.eureka: INFO