server:
  port: 8082

spring:
  application:
    name: user-service

# Eureka Client
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10

# Info
info:
  app:
    name: User Service
    description: Microservice for user management
    version: 1.0.0

# Management
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true

# Logging
logging:
  level:
    root: INFO
    org.springframework.cloud.netflix.eureka: INFO